<strong>Olá, {{ author }}</strong>
<p>O {{ user }} confirmou assistencia no {{ name }}.</p>
<p>Segue informação detalhada sobre a confirmação.</p>
<p>
  <strong>Usuario:</strong> {{ user }} <br />
  <strong>Evento:</strong> {{ name }} <br />
  <strong>Data/hora:</strong> {{ date }} <br />
  <br />
</p>
